root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,hpp,h,cc,cxx}]
indent_style = space

[*.{cmake,cmake.in}]
indent_style = space

[CMakeLists.txt]
indent_style = space

[*.{yml,yaml}]
indent_style = space

[*.{json,toml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.sh]
indent_style = space
indent_size = 2

[justfile]
indent_style = space
indent_size = 2
